* {
  margin : 0;
  padding : 0; 
}
body{
    background-color: #1a1a1a;
}
canvas {
  position: absolute;
}
.description{
  color: rgba(255,255,255,.3);
  font-family : sans-serif;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  bottom: 10%;
  width: 100%;
}
a {
    color: rgba(255,255,255,.3)
}